html {
font-family: 'Source Sans Pro';
}


body {
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    color : whitesmoke;
}

#myModal{
    color : #555;
}

.box {
    height: 80px;
    margin: 2px;
    font-size: 15px;
}

.box .box-title {
    margin-left: -10px;
}

.box .inner-box {
    font-size: 11px;
    display: block;
}

#setting-button {
    position: absolute;
    right : 10px;
    z-index: 2;
}

.color-green {
    background-color: #33cc99;
}

.color-orange {
    background-color: #dbf249;
}

.color-red {
    background-color: #e74c3c;
}

.color-grey {
    background-color: #b8bcc8;
}