<button id="play-button" ng-click="playAlarm()" class="btn btn-info">
    <i class="fa fa-play"></i>
</button>
<button class="filter-button green btn btn-info" ng-click="filterBoxes.green = !filterBoxes.green" ng-model="filterBoxes.green" ng-class="{fade: filterBoxes.green}">
    <i class="fa fa-filter"></i>
</button>
<button class="filter-button orange btn btn-info" ng-click="filterBoxes.orange = !filterBoxes.orange" ng-model="filterBoxes.orange" ng-class="{fade: filterBoxes.orange}">
    <i class="fa fa-filter"></i>
</button>
<button class="filter-button red btn btn-info" ng-click="filterBoxes.red = !filterBoxes.red" ng-model="filterBoxes.red" ng-class="{fade: filterBoxes.red}">
    <i class="fa fa-filter"></i>
</button>
<button class="filter-button grey btn btn-info" ng-click="filterBoxes.grey = !filterBoxes.grey" ng-model="filterBoxes.grey" ng-class="{fade: filterBoxes.grey}">
    <i class="fa fa-filter"></i>
</button>