<!DOCTYPE html>
<html  ng-app="myApp" ng-controller="MainCtrl">

<head>
    <meta name="viewport" content="width=device-width ,height=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="bower_components/animation.css/animate.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <title>{{user.name}} Boxes</title>
    <meta name="description" content="New Relic server / application boxes dashboard">
    <link id="favicon" rel="shortcut icon" type="image/png" href="{{user.favicon}}"/>
</head>

<body>

<div class="container-fluid">
    <audio id="soundAlarm" src="http://info.ahs.kitasato-u.ac.jp/tkweb/alarm/NPB-290-high.wav" preload="auto"></audio>

    <div class="row">
        <div class="col-xs-6">
            <div>
                <div class="header">Servers - Total Instances: {{size.servers}}</div>
                <div ng-repeat="(key, server) in servers | orderByValue">
                    <h4 class="semi-header col-xs-12">{{server.name}}</h4>

                    <div>
                        <div ng-repeat="(key, box) in server.data">
                            <div class="col-xs-2 box animated fadeIn" ng-class="getBoxClass(box)">
                                <span class="box-title">{{box.name}}</span>
                                <span class="inner-box" ng-if="box.reporting">CPU: {{box.summary.cpu}}%</span>
                                <span class="inner-box" ng-if="box.reporting">Fullest Disk : {{box.summary.fullest_disk}}%</span>
                                <span class="inner-box" ng-if="box.reporting">Disk IO: {{box.summary.disk_io}}%</span>
                                <span class="inner-box" ng-if="box.reporting">Memory: {{box.summary.memory}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div>
                <div class="header">Applications - Total Instances: {{size.applications}}</div>
                <div id="time-display">{{time}}</div>
                <button id="setting-button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-cog"></i>
                </button>
                <button id="play-button" ng-click="playAlarm()" class="btn btn-info">
                    <i class="fa fa-play"></i>
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Settings</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label>Company Name</label>
                                    <input type="text" class="form-control" ng-model="user.name" placeholder="Company Name">
                                    <label>Favicon</label>
                                    <input type="text" class="form-control" ng-model="user.favicon" placeholder="Company favicon">
                                    <label>New Relic Api Key</label>
                                    <input type="text" class="form-control"  ng-model="user.apiKey" placeholder="New Relic Api Key">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveSettings()">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-repeat="(key, application) in applications | orderByValue">
                    <h4 class="semi-header col-xs-12">{{application.name}}</h4>

                    <div>
                        <div ng-repeat="(key, box) in application.data">
                            <div class="col-xs-2 box animated fadeIn" ng-class="getBoxClass(box)">
                                <span class="box-title">{{box.name}}</span>
                                <span class="inner-box" ng-if="box.reporting">Apdex: {{box.application_summary.apdex_score}}</span>
                                <span class="inner-box" ng-if="box.reporting">Error Rate: {{box.application_summary.error_rate}}%</span>
                                <span class="inner-box" ng-if="box.reporting">Instances: {{box.application_summary.instance_count}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-poller/angular-poller.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="js/main.js"></script>
<script src="js/resources/newrelic.js"></script>
<script src="js/models/user.js"></script>
<script src="js/services/boxService.js"></script>
<script src="js/services/serverPollerService.js"></script>

</body>

</html>